$btn-color: rgb(117, 112, 112);

.carousel {
  display: flex;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  img {
    max-width: 100%;
    transition: 0.5s;
  }
  %btn {
    position: absolute;
    height: 100%;
    width: 5%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  &--next {
    @extend %btn;
    right: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &--prev {
    @extend %btn;
    left: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
