.add-to-cart {
  width: 180px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  background-color: #cb1c22;
  color: white;
  .fa-shopping-cart {
    margin-right: 5px;
  }
}
