.adjust-item {
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: 50px 0;
  font-size: 20px;
  @media (max-width: 400px) {
    font-size: 11px;
    margin: 50px 10px;
  }
  .quantity {
    margin-right: 20px;
    color: #5e5858;
  }
  &__decrease {
    margin-right: 20px;
    color: #5e5858;
  }
  &__number {
    font-size: 25px;
  }
  &__inscrease {
    margin-left: 20px;
    color: #5e5858;
  }
}
